@import 'vars';
@import 'typography';

// Bootstrap SASS
$icon-font-path: "../fonts/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Fontawesome
$fa-font-path: "../fonts/";
@import "../../node_modules/font-awesome/scss/font-awesome";
.icon-user {
  @extend .fa;
  @extend .fa-user;
}

.container-wide {
  width:  95%;
  margin: 0 auto;
}

.form-control-inline {
  display: inline;
  width: auto;
}

footer {
  background: #333;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  min-height: 45px;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
