<h1>About this Classtab</h1>

<p>
  <strong>Note: </strong> <a href="http://www.classtab.org/">Classtab.org</a> is the original site that this one is based upon.
  That being said, this site is an effort to build upon an already great site.
</p>

<h2>Difficulty Rankings</h2>

<p>
  Most of the base of the rankings comes from the <strong>easy</strong> tag from the original site. Other rankings are
  of my own judgement which might or might not be entirely accurate. Find something you disagree with? Open a pull
  request from the Github repo linked on the source button above. Don't know how? Open an issue and tell me what
  you want done.
</p>

<p>
  Now as to how the difficulties are determined, it's primarily me strumming through the song and watching videos at
  this point. At this time I'm still somewhere around Albeniz, so feel free to jump in as my current method may
  take several months of educational experience.
</p>

<h2>Plans</h2>

See the README on through the source link above.

<h2>Who are you?</h2>

A guy with a guitar, some spare time, and some web design skills.
