<!-- Search Controls -->
<div class="row">
  <div class="col-md-4">
    <input ng-model="search.composer"
      ng-model-options="{debounce: 200}"
      typeahead-show-hint="true"
      type="text"
      class="form-control"
      placeholder="Composer"
    >
  </div>

  <div class="col-md-4">
    <input ng-model="search.songName"
      ng-model-options="{debounce: 200}"
      type="text"
      class="form-control"
      placeholder="Song Name"
    >
  </div>

  <div class="col-md-4">
    <select ng-model="search.difficulty"
      ng-model-options="{debounce: 200}"
      class="form-control"
    >
      <option value="">
        No Difficulty Filter
      </option>

      <option value="none">
        No Difficulty Defined
      </option>

      <option value="easy">
        Beginner
      </option>

      <option value="Intermediate">
        Intermediate
      </option>

      <option value="advanced">
        Advanced
      </option>

      <option value="expert">
        Expert
      </option>
    </select>
  </div>
</div>

<div ng-repeat="
  (composerName, tabs) in filteredTabData track by composerName
">
  <h3>
    <span ng-bind="composerName"></span>
    <small ng-bind="tabData.composers[composerName]"></small>
  </h3>

  <table class="table table-striped">
    <tr ng-repeat="tab in tabs track by tab.tabFile">
      <td width="10%">
        <!-- Meta Information -->
        <span>
          <!-- Difficulty -->
          <span ng-if="tab.difficulty === 'expert'"
            uib-tooltip="This tab is very difficult"
            tooltip-placement="right"
            class="text-danger"
          >
            <i class="fa fa-exclamation-triangle"></i>
          </span>

          <span ng-if="tab.difficulty === 'advanced'"
            uib-tooltip="This tab is difficult"
            tooltip-placement="right"
          >
            <i class="fa fa-diamond"></i>
          </span>

          <span ng-if="tab.difficulty === 'intermediate'"
            class="text-primary"
            uib-tooltip="This tab is moderately difficult"
            tooltip-placement="right"
          >
            <i class="fa fa-square"></i>
          </span>

          <span ng-if="tab.difficulty === 'easy'"
            class="text-success"
            uib-tooltip="This tab is easy"
            tooltip-placement="right"
          >
            <i class="fa fa-circle"></i>
          </span>

          <span ng-if="tab.difficulty === 'none' || !tab.difficulty"
            uib-tooltip="Unknown difficulty"
            tooltip-placement="right"
          >
            <i class="fa fa-circle-o"></i>
          </span>

          <!-- End Difficulty -->

          <!-- Left Handed Fingerings -->
          <span ng-if="tab.leftHandFingering"
            uib-tooltip="This tab has left hand fingerings"
            tooltip-placement="right"
          >
            <i class="fa fa-thumbs-up"></i>
          </span>
        </span>

        <!-- Media Links -->
        <span>
          <!-- Youtube -->
          <a ng-repeat="video in tab.videos track by $index"
            ng-href="{{::video.videoLink}}"
            uib-tooltip="Performed by {{::video.performer}}"
            tooltip-placement="right"
          >
            <i class="fa fa-youtube-play"></i>
          </a>

          <!-- Midis -->
          <a ng-repeat="midi in tab.midis track by $index"
            target="_self"
            href="midis/{{::midi}}"
            uib-tooltip="Midi"
            tooltip-placement="right"
          >
            <i class="fa fa-music"></i>
          </a>
        </span>
      </td>

      <td>
        <a href="tabs/{{::tab.tabFile}}" target="_self">
          <span ng-bind="tab.name"></span>
          <span ng-bind="tab.misc"></span>
        </a>
      </td>

      <td width="15%">
        <span ng-switch="tab.tuning">
          <span ng-switch-when="E A D G B E">
            Standard Tuning
          </span>

          <span ng-switch-when="D A D G B E">
            Drop D Tuning
          </span>

          <span ng-switch-when="D G D G B E">
            Drop DG Tuning
          </span>

          <span ng-switch-when="?">
            Unknown Tuning
          </span>

          <span ng-switch-when="">
            Unknown Tuning
          </span>

          <span ng-switch-default>
            Non-Standard Tuning
          </span>
        </span>
      </td>

      <td width="5%">
        {{::tab.time || '?'}}
      </td>

      <td width="10%">
        {{::tab.bpm || '?'}} bpm
      </td>
    </tr>
  </table>
</div>
